@import "../abstracts/variables";


h1 {
    color: $text-color-primary;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    padding-bottom: 23px;
    border-bottom: 1px solid $text-color-secondary;
    margin-bottom: 24px;
}



h3 {
    color: $text-color-white;
    font-size: 24px;
    font-weight: 700;
}


h2 {
    color: $text-color-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    width: 100%;
    border-bottom: 1px solid $text-color-secondary;

}