// BACKGROND COLORS

$background-header-and-chat: #10BBD5;
$background-footer-and-basket: #4C394E;
$background-body: #EEEEEF;
$background-card: #F8FDFE;
$background-btn-endup-color: #4D762D;

$background-hit: #4200FF;
$background-new: #AF39E7;
$background-discount: #EA33C0;




// TEXT COLORS

$text-color-primary: #1F1F1F;
$text-color-secondary: #8E8E8E;
$text-color-white: #F8FDFE;
$text-color-price-offer: #E90000;



