@import "./abstracts/variables";
@import "./base/typography";
@import "../abstracts/mixins";




.bestsellers {
    background-color: $background-body;
    padding: 32px 52px 38px;
    margin: 104px auto 0;
    max-width: 1600px;
}




.bestsellers__cards-wraper {
    @include flex (center, center);
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 32px;

}




.bestsellers__product-card-content {
    background-color: $background-card;
    @include flex (start, start, column);
    width: 306px;
    height: 512px;
    position: relative;
    z-index: 1;
    padding: 32px;
    border: 1px solid #A8A8A8;
}




.bestsellers__book {
    padding: 0 32px 16px;
}





.bestsellers__book--hit {

    &::before {
        content: "Hit";
        padding: 4px 8px;
        background-color: $background-hit;
        border-radius: 4px;
        position: absolute;
        left: 40px;
        color: $text-color-white;
        line-height: 24px;
    }
}

.bestsellers__book--new {

    &::before {
        content: "New";
        padding: 4px 8px;
        background-color: $background-new;
        border-radius: 4px;
        position: absolute;
        left: 40px;
        color: $text-color-white;
        line-height: 24px;
    }
}

.bestsellers__sale {
    padding: 4px 8px;
    border-radius: 4px;
    background: #EA33C0;
    color: $text-color-white;
    line-height: 24px;
    position: absolute;
    left: 90px;
}






.bestsellers__book-autor {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: $text-color-secondary;
    margin-bottom: 8px;
}

.bestsellers__price {
    color: $text-color-price-offer;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;
}


.bestsellers__full-price {
    @extend .bestsellers__price;
    color: $text-color-secondary;
    text-decoration-line: line-through;
}





.bestsellers__btn {
    background-color: $background-footer-and-basket;
    color: $text-color-white;
    padding: 8px 24px;
    border-radius: 4px;
    width: 100%;
    @include flex (center, center);

    &--end-up {
        @extend .bestsellers__btn;
        background-color: $background-btn-endup-color;
    }
}



.bestsellers__btn-chat {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #10BBD5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 50%;
    left: 86%;
    z-index: 2;
}

