@import "./abstracts/variables";
@import "./base/typography";
@import "../abstracts/mixins";


footer {
    @include flex (space-between, center);
    background-color: $background-footer-and-basket;
    padding: 32px 52px;
    max-width: 1600px;
    color: $text-color-white;
    margin: 0 auto;
}