@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../base/defaults";
@import "../base/typography";



header {
    position: fixed;
    z-index: 999;
    max-width: 1600px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
}





.header-lodo-and-cart {
    background-color: $background-header-and-chat;
    @include flex (space-between, center);
    padding: 16px 52px;

}

.header-lodo-and-cart__logo {
    @include flex (start, start);
    align-items: center;
}



.header-lodo-and-cart__cart {
    @include flex (start, center);
    color: $text-color-white;
}

.header-lodo-and-cart__cart-conteiner {
    @include flex (start, center);
    position: relative;


    & span {
        color: $text-color-primary;
        font-size: 12px;
        font-weight: 400;
        width: 10px;
        height: 10px;
        @include flex (center, center);
        position: absolute;
        top: 13px;
        right: 12px;
    }

}











.header-menu {
    color: $text-color-primary;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: $background-card;
    @include flex (space-between, center);
    padding: 4px 52px;
}


.header-menu__list {
    @include flex (start, center);
    gap: 40px;
}